body, html {
    background: url("../images/background.jpg");
}
#title {
    text-align: center;
    font-size: 35px;
    font-family: Tahoma;
    padding: 10px;
    background-color: rgb(62, 56, 145);
    color: white;
}
.ui-tabs .ui-tabs-nav {
    text-align: center;
    background: transparent;
    border: none;
}
.ui-tabs .ui-tabs-nav li {
    float: none !important;
    display: inline-block;
}
#tabs .ui-state-default {
    background-color: lightblue;
}
/* Reference: https://stackoverflow.com/questions/21233394/how-change-text-color-of-tab-selected-by-css */
.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
    font-family: Tahoma;
    color: black;
    background-color: rgb(62, 56, 145);;
    color: white;
}
.ui-tabs .ui-tabs-nav a {
    background: #fff;
    border: 1px solid black;
    border-bottom: none;
}
.ui-tabs .ui-tabs-nav a:hover {
    background: rgb(62, 56, 145);;
    color: white;
}
#tabs {
    background: lightgray;
}
.tabste {
    font-size: 20px;
}
#homeTab, #resourceTab, #aboutTab, #demoTab, #prototypeTab {
    text-align: center;
    border-top: ridge 6px rgb(179, 179, 179);
}
#homeimg {
    width: 100%;
    max-width: 800px;
    margin-bottom: 10px;
}
#hometxt {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    text-align: center;
}
#assigndocs, #sourcedocs, #otherdocs, #protodocs, #meetingdocs {
    border: solid 1px black;
    margin: 0 auto;
    background: white;
    padding: 10px;
    max-width: 900px;
}
header {
    font-size: 25px;
    font-weight: 500;
}
a:link:hover {
    background: rgb(183, 182, 206);
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 2px;
}
.profile {
    width: 300px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 20px;
}
.name {
    font-weight: 600;
    font-size: 25px;
}
.role {
    font-style: italic;
}
.email {
    margin-bottom: 10px;
}
.card {
    margin: 15px;
    margin: 0 auto;
    max-width: 700px;
}
.limg { 
    width: 150px;
    margin-bottom: 20px;
}
.limg:hover {
    background: white;
}
.ui-widget-header a {
    color: black;
}
.ui-content a:link {
    color: black;
}
.ui-widget-content a:visited {
    color: black;
}
.protolist {
    font-weight: 400;
    margin-bottom: 10px;
}